<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{background:#000;color:#fff;font-family:Arial}
form{width:320px;margin:auto;margin-top:80px}
input,button{
    width:100%;padding:12px;margin:10px 0;
}
input{background:#111;color:#fff;border:1px solid #333}
button{background:#00ffcc;font-weight:bold;border:none}
</style>
</head>
<body>
<form method="post">
<h2>Login</h2>
<input name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button>Login</button>
</form>
</body>
</html>
